.container-md{
  background-color: #a55eea;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 35vh;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary{color:#fff;background-color:teal;border-color:#005a5a}