.container{
  background-color: #a55eea;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  height: 15rem;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 10rem;
  right: 20rem;
  margin: -70px 0 0 -170px;
}

